<form action="<%= users_url %>" method="post">

  <input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">

  <div class="field">
    <label class="label" for="username">Username</label>
    <input class="input half-width" type="text" name="user[username]">
  </div>

  <div class="field">
    <label class="label" for="password">Password (min. 6 characters)</label>
    <input class="input half-width" type="text" name="user[password]">
  </div>

  <input  class="button is-small is-secondary" type="submit" value="Register">

</form>
