<div class="box has-text-centered mt-6">
  <h1 class="title">Register</h1>

  <%= render 'shared/user_form', action: :register %>

</div>
<%= link_to 'Back to index', cats_url, class: "button is-secondary" %>
