<%= render layout: 'shared/boxed', locals: {title: @user.username} do %>

  <div class="block columns">

    <div class="box column">
    </div>

    <div class="box column">
    </div>

  </div>

  <div class="level">
  </div>

<% end %>