<div class="box has-text-centered mt-6">
  <h1 class="title"><%= @user.username %></h1>

  <div class="block columns">

    <div class="box column">
    </div>

    <div class="box column">
    </div>

  </div>

  <div class="level">
  </div>
</div>
<%= link_to 'Back to index', cats_url, class: "button is-secondary" %>
