<%= render layout: 'shared/boxed', locals: {title: @user.username} do %>

  <div class="block columns">

    <div class="block column is-3">
      <h1 class="title is-4">My cats:</h1>
      <%= render 'shared/cats', cats: @user.cats, page: :user %>
    </div>

    <div class="block column">
    </div>

  </div>

  <div class="level">
  </div>

<% end %>