      <div class="navbar-item">
        <%= link_to 'Register', new_user_url, class: 'button is-small is-secondary' %>
      </div>
      <div class="navbar-item">
        <%= link_to 'Log in', new_session_url, class: 'button is-small is-secondary' %>
      </div>