<div class="block">
<%= "#{user.username} - #{request.start_date} - #{request.end_date}, #{request.status}" %>
<% if request.status == 'PENDING' && current_user && current_user.id == @cat.owner.id %>
  <%= link_to 'Accept', approve_cat_rental_request_url(id: request.id), 
      method: :post, class: 'button is-small is-rounded' %>
  <%= link_to 'Reject', deny_cat_rental_request_url(id: request.id), 
      method: :post, class: 'button is-small is-rounded' %>
<% end %>
</div>