<h1 class="title is-1"> All cats </h1>
<%= render 'cats' %>
<%= link_to 'Add a cat', new_cat_url, class: "button is-secondary" %>
<%= link_to 'Rent a cat', new_cat_rental_request_url, class: "button is-secondary" %>
